.online-consultation-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.online-consultation__inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.onlineConsultation-text{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width:40%;
}
.online-consultation-img{
    width: 40%;
}
.online-consultation-img img{
    border-radius: 50px;
}
/* Media request */

@media only screen and (max-width: 768px) {
    .online-consultation__inner{
        justify-content: center;
        flex-direction: column-reverse;
        width: 100%;
    }
    .onlineConsultation-text{
        margin-top: 5%;
        width:100%;
    }
    .online-consultation-img{
        width: 100%;
    }
    .online-consultation-img img{
        height: 200px;
    }
}

/* Ipad portret */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

}
/* Ipad landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

    .online-consultation-img img{
        height: 200px;
    }
}
/* Ipad Pro portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {

}

/* Ipad Pro landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
    .online-consultation-img img{
        height: 200px;
    }
}