.motivation-section{
    background: linear-gradient(to bottom,rgba(233, 233, 233, 0.589),white );

}
.motivation-section__inner{
    display: flex;
    justify-content: center;

    flex-direction: column;
    width: 100%;

}

@media only screen and (max-width: 768px) {
    .motivation-check:before{
        height: 40px;
    }
    .motivation-section{
        padding: 0 0 10px 0;
    }
}