.group-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15%;
    width: 100%;

}
.group-container-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;

}
.group-subtitle-mobile{
    display: none;
}
.group-short-info-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 90%;
}
.group-text{
  padding: 10px 50px 10px 50px;
}
.group-container-img{
    width:45%;
}
.group-button-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px 0 0 0;
}
.short-modal-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Media request */

@media only screen and (max-width: 768px) {
    .group-container{
        justify-content: center;
        flex-direction: column;
        margin-bottom: 35%;
    }
    .group-container-info{
        width: 100%;
    }
    .group-subtitle-mobile{
        display: inline;
    }
    .group-subtitle{
        display: none;
    }
    .group-container-img{
        width:100%;
    }
    .group-container-img img{
       height: 200px;
    }
    .group-short-info-container{
        width: 100%;
    }
    .group-text{
        padding: 10px 0px 10px 0px;
        text-align: center;
    }
}

/* Ipad portret */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .group-container{

        width: 60%;

    }
}
/* Ipad landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .group-container-info{

        width: 60%;

    }

}
/* Ipad Pro portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {

}

/* Ipad Pro landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {

}