.about-certification{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-certification img{
    transition: .5s;
}
.about-certification img:hover{
    transform: scale(1.5);
}
/* Media request */

@media only screen and (max-width: 768px) {
    .about-certification{
        flex-wrap: wrap;
    }
    .about-certification img{
        width: 50%;
    }
    .about-certification img:hover{
        transform: scale(1.2);
    }
}

/* Ipad portret */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

}

/* Ipad Pro portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {

}

/* Ipad Pro landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {

}