
.info-circle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:30%;
}
.icon-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 186, 197);
   width: 60px;
   height: 60px;

    border-radius: 50%;
}
@media only screen and (max-width: 768px) {
    .info-circle-container{

        width:100%;
    }
}