.subtitle-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0 20px 0;
}

.subtitle-text{
    font-size: 30px;
    text-align: left;
    margin: auto 0;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #3F3F3F;
}
@media only screen and (max-width: 768px) {

    .subtitle-text {
        font-size: 22px;
        text-align: center !important;
    }
}
/* Ipad portret */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

}

/* Ipad landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .subtitle-text{
        font-size: 24px;

    }

}
/* Ipad Pro portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {

}

/* Ipad Pro landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {

}