.invitation-section__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}
.color-text{
    color: rgb(33, 188, 199);
}
.fat-text{
    font-weight: 900;
}
@media only screen and (max-width: 768px) {
    .fat-text{
        padding: 0px 0 0px 0;
    }
}
/* Ipad portret */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

}

/* Ipad landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .subtitle-text{
        font-size: 24px;

    }

}
/* Ipad Pro portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {

}

/* Ipad Pro landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {

}